{% extends "base+nav.html.twig" %}
{# 
    Ce template affiche des actes en lien avec l'utilisateur (brouillons)
    et l'historique des 10 dernières actions de l'utilisateur.

    N.B. : Les actions ne sont pas supprimés si l'acte qu'elle réfère est supprimé
    (Ceci explique le {% if action.fkActe is not null %}).
#}
{% block body %}
<div class="container-fluid">
    <h2 class="text-center pt-3 pb-3">Tableau de bord</h2>
    <div class="row mt-5">
      <div class="col-6 ">
          <div class="card border-dark w-100">
              <div class="card-body ">
                <h3 class="card-title " >Brouillons</h3>
              
                <table class="table table-bordered mt-4 text-center" id="brouillon">
                  <thead>
                    <tr>
                      <th scope="col">Numéro</th>
                      <th scope="col">Date</th>
                      <th scope="col">Nature</th>
                      <th scope="col">Matière</th>
                      <th scope="col">Objet de l'acte</th>
                      <th scope="col">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row" class="text-info">ST190230</th>
                      <td>14/06/2019</td>
                      <td>Délibération</td>
                      <td>2.1 Documents d’urbanisme</td>
                      <td>test</td>
                      <td><button type="button" class="btn btn-primary">Reprendre</button></td>
                    </tr>
                    <tr>
                      <th scope="row" class="text-info">ST190230</th>
                      <td>15/06/2019</td>
                      <td>Délibération</td>
                      <td>2.1 Documents d’urbanisme</td>
                      <td>VOIE PRIVEE VILLA DE CHENNEVIERES - TRANSFERT PROVISOIRE DES PREROGATIVES MUNICIPALES A L ADMINISTRATEUR PROVISOIRE DE LA COPROPRIETE POUR DES TRAVAUX DE VOIRIE.PDF</td>
                      <td><button type="button" class="btn btn-primary">Reprendre</button></td>
                    </tr>
                    <tr>
                      <th scope="row" class="text-info">ST190230</th>
                      <td >16/06/2019</td>
                      <td>Arrêté</td>
                      <td>1.1 Marchés publics	</td>
                      <td >test</td>
                      <td><button type="button" class="btn btn-primary">Reprendre</button></td>
                    </tr>
                    <tr>
                        <th scope="row" class="text-info">3</th>
                        <td >17/06/2019</td>
                        <td>Arrêté</td>
                        <td>1.1 Marchés publics	</td>
                        <td >VOIE PRIVEE VILLA DE CHENNEVIERES - TRANSFERT PROVISOIRE DES PREROGATIVES MUNICIPALES A L ADMINISTRATEUR PROVISOIRE DE LA COPROPRIETE POUR DES TRAVAUX DE VOIRIE.PDF</td>
                        <td><button type="button" class="btn btn-primary">Reprendre</button></td>
                      </tr>
                      <tr>
                          <th scope="row" class="text-info">3</th>
                          <td >18/06/2019</td>
                          <td>Arrêté</td>
                          <td>1.1 Marchés publics	</td>
                          <td >test</td>
                          <td><button type="button" class="btn btn-primary">Reprendre</button></td>
                      </tr>
                  </tbody>
                </table>
              
              </div>
          </div>
          
      </div>
      <div class="col-6">

        {# Tableau actes en attente de validation visible si on est connecté en tant que Agent #}
      
        <div class="card border-dark ">
          <div class="card-body ">
            <h3 class="card-title ">Actes en attente de validation</h3>
            <table class="table table-bordered mt-4 text-center " id="attente">
              <thead>
                <tr>
                  <th scope="col">Numéro</th>
                  <th scope="col">Date</th>
                  <th scope="col">Nature</th>
                  <th scope="col">Matière</th>
                  <th scope="col">Objet de l'acte</th>
                  <th scope="col">Etat</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row" class="text-info">ST190230</th>
                  <td>14/06/2019</td>
                  <td>Délibération</td>
                  <td>2.1 Documents d’urbanisme</td>
                  <td>test</td>
                  <td><img src="/img/acte/sablier.png"/></td>
                </tr>
                <tr>
                  <th scope="row" class="text-info">ST190230</th>
                  <td>14/06/2019</td>
                  <td>Délibération</td>
                  <td>2.1 Documents d’urbanisme</td>
                  <td>VOIE PRIVEE VILLA DE CHENNEVIERES - TRANSFERT PROVISOIRE DES PREROGATIVES MUNICIPALES A L ADMINISTRATEUR PROVISOIRE DE LA COPROPRIETE POUR DES TRAVAUX DE VOIRIE.PDF</td>
                  <td><img src="/img/acte/sablier.png"/></td>
                </tr>
                <tr>
                  <th scope="row" class="text-info">ST190230</th>
                  <td >14/06/2019</td>
                  <td>Arrêté</td>
                  <td>1.1 Marchés publics	</td>
                  <td>test</td>
                  <td><img src="/img/acte/sablier.png"/></td>
                </tr>
                <tr>
                    <th scope="row" class="text-info">3</th>
                    <td >14/06/2019</td>
                    <td>Arrêté</td>
                    <td>1.1 Marchés publics	</td>
                    <td>VOIE PRIVEE VILLA DE CHENNEVIERES - TRANSFERT PROVISOIRE DES PREROGATIVES MUNICIPALES A L ADMINISTRATEUR PROVISOIRE DE LA COPROPRIETE POUR DES TRAVAUX DE VOIRIE.PDF</td>
                    <td><img src="/img/acte/sablier.png"/></td>
                  </tr>
                  <tr>
                      <th scope="row" class="text-info">3</th>
                      <td >14/06/2019</td>
                      <td>Arrêté</td>
                      <td>1.1 Marchés publics	</td>
                      <td>test</td>
                      <td><img src="/img/acte/sablier.png"/></td>
                  </tr>
              </tbody>
            </table>

          </div>
        </div>
      
        {# Tableau actes en attente de validation visible si on est connecté en tant que Valideur #}

        <div class="card border-dark d-none">
          <div class="card-body ">
            <h3 class="card-title ">Actes en attente de validation</h3>
            <table class="table table-bordered mt-4 text-center" id="attentevalideur">
              <thead>
                <tr>
                  <th scope="col">Numéro</th>
                  <th scope="col">Date</th>
                  <th scope="col">Nature</th>
                  <th scope="col">Matière</th>
                  <th scope="col">Objet de l'acte</th>
                  <th scope="col">Etat</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row" class="text-info">ST190230</th>
                  <td>14/06/2019</td>
                  <td>Délibération</td>
                  <td>2.1 Documents d’urbanisme</td>
                  <td>test</td>
                  <td><button type="button" class="btn btn-primary">Valider</button></td>
                </tr>
                <tr>
                  <th scope="row" class="text-info">ST190230</th>
                  <td>14/06/2019</td>
                  <td>Délibération</td>
                  <td>2.1 Documents d’urbanisme</td>
                  <td>VOIE PRIVEE VILLA DE CHENNEVIERES - TRANSFERT PROVISOIRE DES PREROGATIVES MUNICIPALES A L ADMINISTRATEUR PROVISOIRE DE LA COPROPRIETE POUR DES TRAVAUX DE VOIRIE.PDF</td>
                  <td><button type="button" class="btn btn-primary">Valider</button></td>
                </tr>
                <tr>
                  <th scope="row" class="text-info">ST190230</th>
                  <td >14/06/2019</td>
                  <td>Arrêté</td>
                  <td>1.1 Marchés publics	</td>
                  <td>test</td>
                  <td><button type="button" class="btn btn-primary">Valider</button></td>
                </tr>
                <tr>
                    <th scope="row" class="text-info">3</th>
                    <td >14/06/2019</td>
                    <td>Arrêté</td>
                    <td>1.1 Marchés publics	</td>
                    <td>VOIE PRIVEE VILLA DE CHENNEVIERES - TRANSFERT PROVISOIRE DES PREROGATIVES MUNICIPALES A L ADMINISTRATEUR PROVISOIRE DE LA COPROPRIETE POUR DES TRAVAUX DE VOIRIE.PDF</td>
                    <td><button type="button" class="btn btn-primary">Valider</button></td>
                  </tr>
                  <tr>
                      <th scope="row" class="text-info">3</th>
                      <td >14/06/2019</td>
                      <td>Arrêté</td>
                      <td>1.1 Marchés publics	</td>
                      <td>test</td>
                      <td><button type="button" class="btn btn-primary">Valider</button></td>
                  </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div> 
      
    <div class="row mt-5">
      <div class="col-6 ">
          <div class="card border-dark ">
              <div class="card-body ">
                <h3 class="card-title " >Actes validés</h3>
                <table class="table table-bordered mt-4 text-center" id="valide">
                  <thead>
                    <tr>
                      <th scope="col">Numéro</th>
                      <th scope="col">Date</th>
                      <th scope="col">Nature</th>
                      <th scope="col">Matière</th>
                      <th scope="col">Objet de l'acte</th>
                      <th scope="col">Etat</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row" class="text-info">ST190230</th>
                      <td>14/06/2019</td>
                      <td>Délibération</td>
                      <td>2.1 Documents d’urbanisme</td>
                      <td>test  </td>
                      <td><img src="/img/acte/croix.png"/></td>
                    </tr>
                    <tr>
                      <th scope="row" class="text-info">ST190230</th>
                      <td>14/06/2019</td>
                      <td>Délibération</td>
                      <td>2.1 Documents d’urbanisme</td>
                      <td > VOIE PRIVEE VILLA DE CHENNEVIERES - TRANSFERT PROVISOIRE DES PREROGATIVES MUNICIPALES A L ADMINISTRATEUR PROVISOIRE DE LA COPROPRIETE POUR DES TRAVAUX DE VOIRIE.PDF</td>
                      <td><img src="/img/acte/valider.png"/></td>
                    </tr>
                    <tr>
                      <th scope="row" class="text-info">ST190230</th>
                      <td >14/06/2019</td>
                      <td>Arrêté</td>
                      <td>1.1 Marchés publics	</td>
                      <td >test</td>
                      <td><img src="/img/acte/croix.png"/></td>
                    </tr>
                    <tr>
                        <th scope="row" class="text-info">3</th>
                        <td >14/06/2019</td>
                        <td>Arrêté</td>
                        <td>1.1 Marchés publics	</td>
                        <td >VOIE PRIVEE VILLA DE CHENNEVIERES - TRANSFERT PROVISOIRE DES PREROGATIVES MUNICIPALES A L ADMINISTRATEUR PROVISOIRE DE LA COPROPRIETE POUR DES TRAVAUX DE VOIRIE.PDF</td>
                        <td><img src="/img/acte/valider.png"/></td>
                      </tr>
                      <tr>
                          <th scope="row" class="text-info">3</th>
                          <td >14/06/2019</td>
                          <td>Arrêté</td>
                          <td>1.1 Marchés publics	</td>
                          <td >test</td>
                          <td><img src="/img/acte/valider.png"/></td>
                      </tr>
                  </tbody>
                </table>
              <p><img src="/img/acte/croix.png"/> : refusé &nbsp; &nbsp;<img src="/img/acte/valider.png"/> : validé</p>
              </div>
          </div>

      </div>
      <div class="col-6">
        <div class="card border-dark">
          <div class="card-body ">
            <h3 class="card-title " >Actes à archiver </h3>
        
            <table class="table table-bordered mt-4 text-center" id="archive">
              <thead>
                <tr>
                  <th scope="col">Numéro</th>
                  <th scope="col">Date</th>
                  <th scope="col">Nature</th>
                  <th scope="col">Matière</th>
                  <th scope="col">Objet de l'acte</th>
                  <th scope="col">Etat</th>
                  <th scope="col">Actions</th>
                  
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row" class="text-info">ST190230</th>
                  <td>14/06/2019</td>
                  <td>Délibération</td>
                  <td>2.1 Documents d’urbanisme</td>
                  <td>test</td>
                  <td>transmis</td>
                  <td><img src="/img/acte/archive.png"/></td>
                </tr>
                <tr>
                  <th scope="row" class="text-info">ST190230</th>
                  <td>14/06/2019</td>
                  <td>Délibération</td>
                  <td>2.1 Documents d’urbanisme</td>
                  <td>VOIE PRIVEE VILLA DE CHENNEVIERES - TRANSFERT PROVISOIRE DES PREROGATIVES MUNICIPALES A L ADMINISTRATEUR PROVISOIRE DE LA COPROPRIETE POUR DES TRAVAUX DE VOIRIE.PDF</td>
                  <td>validé</td>
                  <td><img src="/img/acte/archive.png"/></td>
                </tr>
                <tr>
                  <th scope="row" class="text-info">ST190230</th>
                  <td >14/06/2019</td>
                  <td>Arrêté</td>
                  <td>1.1 Marchés publics	</td>
                  <td>test</td>
                  <td>refusé</td>
                  <td><img src="/img/acte/archive.png"/></td>
                </tr>
                <tr>
                    <th scope="row" class="text-info">3</th>
                    <td >14/06/2019</td>
                    <td>Arrêté</td>
                    <td>1.1 Marchés publics	</td>
                    <td>VOIE PRIVEE VILLA DE CHENNEVIERES - TRANSFERT PROVISOIRE DES PREROGATIVES MUNICIPALES A L ADMINISTRATEUR PROVISOIRE DE LA COPROPRIETE POUR DES TRAVAUX DE VOIRIE.PDF</td>
                    <td>annulé</td>
                    <td><img src="/img/acte/archive.png"/></td>
                  </tr>
                  <tr>
                      <th scope="row" class="text-info">3</th>
                      <td >14/06/2019</td>
                      <td>Arrêté</td>
                      <td>1.1 Marchés publics	</td>
                      <td>test</td>
                      <td>annulé</td>
                      <td><img src="/img/acte/archive.png"/></td>
                  </tr>
              </tbody>
            </table>
          
          </div>
        </div>
      
      </div>
  </div>
  
   <div class="row"> <a class="btn btn-primary btn-lg  ml-3 my-3 text-white "  id="btntransmettre" href="#tabtransmettre">Actes à transmettre </a> </div>
    <div class=" mx-3 d-none "  id="transmettre">
     
      <table class="table table-bordered  text-center my-3 " id="tabtransmettre">
              <thead>
                <tr>
                  <th scope="col">Numéro</th>
                  <th scope="col">Date</th>
                  <th scope="col">Nature</th>
                  <th scope="col">Matière</th>
                  <th scope="col">Objet de l'acte</th>
                  <th scope="col">Action</th>
    
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row" class="text-info">ST190230</th>
                  <td>14/06/2019</td>
                  <td>Délibération</td>
                  <td>2.1 Documents d’urbanisme</td>
                  <td>test</td>
                  <td><button type="button" class="btn btn-primary">Transmettre</button></td>
                  
                </tr>
                <tr>
                  <th scope="row" class="text-info">ST190230</th>
                  <td>14/06/2019</td>
                  <td>Délibération</td>
                  <td>2.1 Documents d’urbanisme</td>
                  <td>VOIE PRIVEE VILLA DE CHENNEVIERES - TRANSFERT PROVISOIRE DES PREROGATIVES MUNICIPALES A L ADMINISTRATEUR PROVISOIRE DE LA COPROPRIETE POUR DES TRAVAUX DE VOIRIE.PDF</td>
                  <td><button type="button" class="btn btn-primary">Transmettre</button></td>
                  
                </tr>
                
              </tbody>
      </table>
  </div>
  
    <div class="row"><a class="btn btn-primary btn-lg  ml-3 my-3 text-white"  id="btnhistorique" href="#tabhistorique">Historique des actions </a> </div>
    <div class=" mx-3 d-none "  id="historique">
     
      <table class="table table-bordered  text-center my-3 " id="tabhistorique">
              <thead>
                <tr>
                  <th scope="col">Numéro</th>
                  <th scope="col">Date</th>
                  <th scope="col">Nature</th>
                  <th scope="col">Matière</th>
                  <th scope="col">Objet de l'acte</th>
                  <th scope="col">Type</th>
    
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row" class="text-info">ST190230</th>
                  <td>14/06/2019</td>
                  <td>Délibération</td>
                  <td>2.1 Documents d’urbanisme</td>
                  <td>test</td>
                  <td>Modification</td>
                  
                </tr>
                <tr>
                  <th scope="row" class="text-info">ST190230</th>
                  <td>14/06/2019</td>
                  <td>Délibération</td>
                  <td>2.1 Documents d’urbanisme</td>
                  <td>VOIE PRIVEE VILLA DE CHENNEVIERES - TRANSFERT PROVISOIRE DES PREROGATIVES MUNICIPALES A L ADMINISTRATEUR PROVISOIRE DE LA COPROPRIETE POUR DES TRAVAUX DE VOIRIE.PDF</td>
                  <td>Ajout</td>
                  
                </tr>
                
              </tbody>
      </table>
  </div>
</div>
    
  
    
    

    
 
{% endblock %}
{% block scripts %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        {{parent()}}
      	{% import "MACROS/scripts.html.twig" as scripts %}
	      {{ scripts.datatable() }}


{% endblock %}

