{% extends "base+nav.html.twig" %}
{# 
    Ce template affiche une liste des enregistrements d'une entité fonctionnelle
    (voir src/Controller/AdminController.php pour la définition d'entité fonctionnelle)
#}
{% block body %}

	<h2 class="text-center pt-3 pb-3">Rapport de l'import</h2>

	<p>{{ nbAjouts }} fichier(s) sur {{ nbPDFs }} ont été ajoutés et synchronisés avec un acte.</p>

	<p>{{ nbRestants }} fichier(s) ne correspond(ent) pas à un acte de la base de données.</p>

{% endblock %}
