{#
    
Ce template est la base HTML de toutes les pages retournées par la plateforme.

N.B. :
La sécurité est gérée par le composant Symfony "security".
Il est appelé avant cette base donc j'ai peu de contrôle sur la sécurité,
mais je fais confiance à ce module pour tout ce qui est sécurité de base.

Il y a 4 blocks qui peuvent être remplis par des templates "enfant" (pour adapter le contenu selon la requête) :
 - "stylesheets" : contient les liens css nécessaires aux éléments du body (contient de base le thème css général "flatly").
 - "nav" : contient le navigateur, ce template n'en a pas (voir "templates/base+nav.html.twig").
 - "body" : contient le corps de la page.
 - "scripts" : contient les scripts nécessaires aux éléments du body.

#}
<!DOCTYPE html>

{# les options "ng" sont utilisés par les scripts angular (tagsinput) => permettent à Angular de savoir "où sont" certaines balises #}
<html lang="fr" ng-app="plunker">
    <head>

        <title>DasDoc</title>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        {% block stylesheets %}

            {# thème css : flatly #}
            <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
             <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
            <link rel="stylesheet" type="text/css" href="/css/style.css">
            {#
                téléchargé en local.
                lien de téléchargement : "https://bootswatch.com/4/flatly/bootstrap.min.css".
                dernière version depuis le 06/05/2019.
            #}

        {% endblock %}

    </head>
    <header>

    		{% block nav %}	
    		{% endblock %}

    </header>
    <body ng-controller="MainCtrl">

        
    
            {% block body %}
                
                
            {% endblock %}
   
       

        {% block scripts %}
        {% endblock %}

    </body>
</html>